# Groupby (Core)

Leard Russell

In [1]:
# imports
import pandas as pd

In [2]:
# loading in and displaying insurance data
df=pd.read_csv('/Users/oliver/Desktop/datasets/insurance_mod.csv')
display(df.head(),df.info)

   age     sex     bmi  children  smoker     region  charges
0   19  female  27.900         0       1  southwest  16885.0
1   18    male  33.770         1       0  southeast   1726.0
2   28    male  33.000         3       0  southeast   4449.0
3   33    male  22.705         0       0  northwest  21984.0
4   32    male  28.880         0       0  northwest   3867.0

<bound method DataFrame.info of       age     sex     bmi  children  smoker     region  charges
0      19  female  27.900         0       1  southwest  16885.0
1      18    male  33.770         1       0  southeast   1726.0
2      28    male  33.000         3       0  southeast   4449.0
3      33    male  22.705         0       0  northwest  21984.0
4      32    male  28.880         0       0  northwest   3867.0
...   ...     ...     ...       ...     ...        ...      ...
1333   50    male  30.970         3       0  northwest  10601.0
1334   18  female  31.920         0       0  northeast   2206.0
1335   18  female  36.850         0       0  southeast   1630.0
1336   21  female  25.800         0       0  southwest   2008.0
1337   61  female  29.070         0       1  northwest  29141.0

[1338 rows x 7 columns]>

### Questions:

1) What is the average age for the entire data set?

In [3]:
print("The average age for the entire data set is",round(df['age'].mean(),3),'years old.')

The average age for the entire data set is 39.207 years old.

2) What is the age of the oldest person in the entire data set (the maximum age)?

In [4]:
print("The oldest person in the entire data set is",df['age'].max(),"years old.")

The oldest person in the entire data set is 64 years old.

3) What is the age of the youngest person in the entire data set (the minimum age)?

In [5]:
print("The oldest person in the entire data set is",df['age'].min(),"years old.")

The oldest person in the entire data set is 18 years old.

4) What is the average for charges for the entire data set?

In [6]:
print("The average amount charged in the data set is $"+str(round(df['charges'].mean()))+'.')

The average amount charged in the data set is $13270.

5) What is the average for charges grouped by sex?

In [7]:
df.groupby('sex')[['charges']].mean()

             charges
sex
female  12569.584592
male    13956.730769

6) What is the average for charges, grouped by if the person is a smoker?

In [8]:
df.groupby('smoker')[['charges']].mean()

             charges
smoker
0        8434.260338
1       32050.226277

7) What is the average for charges grouped by if the person smokes and their sex?

In [9]:
df.groupby(['sex','smoker'])[['charges']].mean()

                    charges
sex    smoker
female 0        8762.307130
       1       30678.982609
male   0        8087.177950
       1       33042.006289